<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">お気に入り一覧</h2>
    </div>
    <!--お気に入り数-->
    <div class="col-10 offset-1 text-center mt-3 mb-5">
      <p><%= @favorites.count %>件の記録がお気に入り登録されています。</p>
    </div>
    <!--記録の一覧-->
    <div class="col-10 offset-1 text-left">
      <% if @favorite_list.present? %>
        <%= render "public/documents/document_card", documents: @favorite_list %>
      <% end %> 
    </div>
    <!--ページネーション-->
    <div class="col-6 offset-3 justify-content-center mt-3 mb-5 d-flex">
      <%= paginate @favorite_list %>
    </div>
  </div>
</div>
