<h1>ユーザーのマイページ</h1>
<p>画像</p>
<%= image_tag @end_user.get_profile_image(100,100) %>
<p>ユーザー名</p>
<%= @end_user.name %>
<p>投稿数</p>
<p>お気に入り数</p>

<% if @end_user.name != "guestuser" %>
  <%= link_to "編集", edit_end_user_path(@end_user), class: "btn btn-primary edit_user_#{@end_user.id}" %>
<% end %>
