<div class="container mt-5">
  <div class="row">
    <!--タイトル-->
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">ユーザーの一覧</h2>
    </div>
    <!--ユーザーの一覧-->
    <div class="col-11 offset-1 text-left">
      <%= render "admin/end_users/end_user_card", end_users: @end_users %>
    </div>
    <!--ページネーション-->
    <div class="col-6 offset-3 justify-content-center mt-3 mb-5 d-flex">
      <%= paginate @end_users %>
    </div>
  </div>
</div>
