<div class="container mt-4">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h2 class="font-weight-bold">
        <%= l @document.created_at, format: :long %>の記録を編集
      </h2>
      <!--登録されているタグ一覧-->
      <div class="text-left mt-4 mb-5 col-8 offset-2">
        <% @tags.each do |list| %>
          <a class="btn btn-outline-dark btn-sm rounded-pill disabled mb-2"
                tabindex="-1" role="button" aria-disabled="true">
            <i class="fas fa-tag"></i> <%= list.name %>
          </a>
        <% end %>
      </div>
      <!--入力フォーム-->
      <%= render "public/documents/document_editform", document: @document, tag_list: @tag_list %>
      <!--戻るボタン-->
      <div class="col-6 offset-3 text-center mb-3">
        <%= link_to @document, class: "document_#{@document.id}" do %>
          <i class="fas fa-arrow-circle-left"></i> 詳細へ戻る
        <% end %>
      </div>
    </div>
  </div>
</div>
