<h1>記録一覧</h1>
<% @documents.each do |document| %>
  <%= link_to document_path(document) do %>
    <div class="linkbox">
      <%= document.created_at.strftime('%Y/%m/%d %H:%M') %><br>
      <%= document.content %>
    </div>
  <% end %>
<% end %>
