<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">タグ検索結果</h2>
    </div>
    <!--記録の一覧-->
    <div class="col-10 offset-1 text-left mt-3 mb-5">
      <%= render "public/documents/document_card", documents: @tags_search %>
    </div>
    <!--ページネーション-->
    <div class="col-6 offset-3 justify-content-center mt-3 mb-5 d-flex">
      <%= paginate @tags_search %>
    </div>
  </div>
</div>
