<div class="d-flex flex-wrap justify-left-around">
  <% end_users.each do |end_user| %>
    <%= link_to admin_end_user_path(end_user) do %>
      <div class="card mt-3 mb-3 ml-2">
        <div class="card", style="width: 15rem; color:#727068; background-color:#ffffff">
          <!--プロフィール画像-->
          <%= image_tag end_user.get_profile_image(200,200), class: "card-img-top", alt: "Card image cap",
              style: "height: 150px; width: auto; object-fit: cover" %>
          <div class="card-body", style="color:#4b4841; background-color:#ffffff">
            <!--ユーザー名-->
            <h5 class="card-title"><%= end_user.name %></h5>
            <!--ステータス-->
            <p class="card-text">
              ステータス
              <% if end_user.is_deleted %>
                退会 <i class="fas fa-comment-slash"></i>
              <% else %>
                有効 <i class="fas fa-comment-dots"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
