<h1>ユーザー詳細画面</h1>
<p>ユーザーID</p>
<%= @end_user.id %>
<p>ユーザー名</p>
<%= @end_user.name %>
<p>メールアドレス</p>
<%= @end_user.email %>
<p>ステータス</p>
<% if @end_user.is_deleted %>
  退会
<% else %>
  有効
<% end %>
<br>
<%=link_to "編集", edit_admin_end_user_path(@end_user), class: "btn btn-primary" %>
