<div class="container mt-5">
  <div class="row">
    <!--タイトル-->
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">キーワード検索結果</h2>
    </div>
    <!--ユーザーの一覧-->
    <div class="col-11 offset-1 text-left">
      <%= render "admin/end_users/end_user_card", end_users: @end_users_search %>
    </div>
    <!--ページネーション-->
    <p class="col-5 text-center mt-3 mb-5">
      <%= paginate @end_users_search %>
    </p>
  </div>
</div>
