@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'header';

// 全体の設定
a, h2, h3, p {
  color: #292830;
  text-decoration: none !important;
}

a:hover {
  color: #9b5d73;
}

a:active {
  color: #453953;
}

body {
  margin-bottom: 120px;
}

// header
header{
  height: 100px;
  background-color: #ece6d6;
}

.logo-name {
  text-decoration: none;
  font-size: 30px;
  line-height: 80px;
}

.hm-icon {
  display: none;
}

// footer
footer {
  margin-top: auto;
  background-color: #ece6d6;
}

.footer-text {
  color: #727068;
}

// message
.notifications {
  color: #fff;
  text-align: center;
  position :absolute;
  top: 10;
  width: 100%;
  z-index: 3;
}

.notice {
  background-color: #00b8a9;
}

.alert {
  padding: 0;
  background-color: #f6416c;
  htight: 20px;
}

.devise-error-messages {
  color: #fff;
  text-align: center;
  position :absolute;
  top: 10;
  width: 100%;
  z-index: 3;
  padding: 0;
  background-color: #f6416c;
  htight: 20px;
  animation-name: fadeout;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// feeling button
// ラジオボタンの丸を消す
.hidden_radio {
  display: none;
}

// feelingアイコン
.feeling_icon {
  font-size: 35pt;
  margin: 0 20px;
  color: #543d46;
}

.feeling_icon:hover {
  color: #a6d0e4;
  transform: scale(0.99, 0.99) translateY(2px);
}

// アイコンが選択された時
.check_radio {
  color: #3ec1d3;
}

// card
.cards__item {
  flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px;
}

.card:hover {
  background-color: #b6b1a5;
}

// chart
.chart-line {
  position: relative;
  width: 500px;
  height: 300px;
}

.chart-doughnut {
  position: relative;
  width: 450px;
  height: 450px;
}

.chart-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 45%;
}

// pagination
// ページネーション
.pagination>li>a {
  border: none;
  color: #34495e;
  text-align: center;
}

// 表示しているページ番号のデザイン
.pagination>.active>a {
  border-radius: 50%;
}

// ホバー時のデザイン
.pagination>li>a:hover {
  background: #eaf7fc;
  border-radius: 50%;
}



// 1000px以下の画面設定
@media screen and (max-width: 1000px) {
  .hm-icon {
    display: block;
  }
  
  .img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .chart-line {
    position: relative;
    width: 350px;
    height: 200px;
  }
  
  .chart-doughnut {
    position: relative;
    width: 250px;
    height: 250px;
  }
  
  .chart-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 43%;
  }
}
