@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// header, footer
header{
  height: 100px;
  background-color: #ece6d6;
}

footer {
  background-color:#ece6d6;
}

.footer-text {
  color: #727068;
}

// card
.cards__item {
  flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px;
}

.card:hover {
  background-color: #b6b1a5;
}

// chart
.chart_price {
  position: relative;
}

.chart_title {
   position: absolute;
   top: 0;
   left: 0;
   margin: auto;
   right: 0;
   margin: auto;
   text-align: center;
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%); 
}
