@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// header
header{
  height: 100px;
  background-color: #ece6d6;
}

.logo-name {
  text-decoration: none;
  color: #181717;
  font-size: 40px;
  line-height: 80px;
}

// footer
footer {
  background-color:#ece6d6;
}

.footer-text {
  color: #727068;
}

// message
.notifications {
  color: #fff;
  text-align: center;
  position :absolute;
  top: 10;
  width: 100%;
  z-index: 3;
}

.notice {
  background-color: #a8e6cf;
}

.alert {
  padding: 0;
  background-color: #ffaaa5;
  htight: 20px;
}

// card
.cards__item {
  flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px;
}

.card:hover {
  background-color: #b6b1a5;
}

// chart
.chart_price {
  position: relative;
}

.chart_title {
   position: absolute;
   top: 0;
   left: 0;
   margin: auto;
   right: 0;
   margin: auto;
   text-align: center;
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%); 
}
