<div class="notifications">
  <% flash.each do |key, value| %>
    <div class="flash text-center">
      <%= content_tag(:div, value, class: key) %>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    setTimeout("$('.flash').fadeOut('slow')", 4000);
  });
</script>
